In [8]:
library(plm)
library(stringr)

Warning message:
"package 'plm' was built under R version 3.2.5"Loading required package: Formula
Warning message:
"package 'stringr' was built under R version 3.2.5"

In [9]:
data<-read.csv('metro_level_clean_data_rca_err.csv')
data[,1]=as.Date(data[,1],format="%m/%d/%Y")  #convert to time series

In [10]:
head(data)

  Date       MetroArea SECTOR rent_value  err_value AAA       OTR_USD_10YR
1 2001-01-01 Atlanta   APT    57002.15550  9.029698 1.4452716 5.631395
2 2001-01-01 Atlanta   IND       38.93760  4.477118 1.4452716 5.631395
3 2001-01-01 Atlanta   OFF       73.26115 19.114560 1.4452716 5.631395
4 2001-01-01 Atlanta   RET       67.33691 13.466975 1.4452716 5.631395
5 2002-01-01 Atlanta   APT    49928.77500  8.837770 0.9728563 5.650477
6 2002-01-01 Atlanta   IND       25.33800  4.548400 0.9728563 5.650477
  USD_GRM_spread log_index log_rent log_10year_rate inelastic intersect
1 0.8694115      10.950844 2.200519 1.728357        0         0
2 0.8694115       3.661960 1.498980 1.728357        0         0
3 0.8694115       4.294030 2.950450 1.728357        0         0
4 0.8694115       4.209709 2.600240 1.728357        0         0
5 0.6556902      10.818353 2.179035 1.731740        0         0
6 0.6556902       3.232305 1.514775 1.731740        0         0

In [11]:
levels(factor(data[,2]))

 [1] "Atlanta"        "Austin"         "Boston"         "Charlotte"
 [5] "Chicago"        "Dallas"         "DC Metro"       "Denver"
 [9] "Houston"        "LA Metro"       "Memphis"        "Minneapolis"
[13] "NYC Metro"      "Orlando"        "Phila Metro"    "Phoenix"
[17] "Portland"       "Raleigh/Durham" "Sacramento"     "San Diego"
[21] "Seattle"        "SF Metro"       "So Fla"         "Tampa"

In [12]:
data<-cbind(paste0(data[,2],'.',data[,3]),data)
data<-data[,c(-3,-4)]

In [13]:
colnames(data)[1]='sector'

In [14]:
data[,2]=ts(data[,2])  #convert to time series

In [15]:
pdata<-pdata.frame(data,index=c('sector','Date'),drop.index=TRUE,row.names = TRUE)

In [16]:
head(pdata)

                  rent_value err_value AAA       OTR_USD_10YR USD_GRM_spread
Atlanta.APT-11323 57002.16   9.029698  1.4452716 5.631395     0.8694115
Atlanta.APT-11413 63332.01   9.084535  1.3725349 5.850798     0.8657667
Atlanta.APT-11504 60689.42   9.029698  1.5403086 5.566358     0.6681323
Atlanta.APT-11596 65262.70   8.947444  1.6046104 5.318723     0.6950836
Atlanta.APT-11688 49928.78   8.837770  0.9728563 5.650477     0.6556902
Atlanta.APT-11778 65793.94   8.700679  1.0426411 5.670692     0.5447391
                  log_index log_rent log_10year_rate inelastic intersect
Atlanta.APT-11323 10.95084  2.200519 1.728357        0         0
Atlanta.APT-11413 11.05615  2.206574 1.766578        0         0
Atlanta.APT-11504 11.01352  2.200519 1.716741        0         0
Atlanta.APT-11596 11.08618  2.191368 1.671233        0         0
Atlanta.APT-11688 10.81835  2.179035 1.731740        0         0
Atlanta.APT-11778 11.09428  2.163401 1.735311        0         0

In [17]:
res<-pggls(log_index~log_rent+USD_GRM_spread+AAA+log_10year_rate+intersect,data=pdata,effect='individual',model='pooling')

In [18]:
summary(res)

 NA

Call:
pggls(formula = log_index ~ log_rent + USD_GRM_spread + AAA +
    log_10year_rate + intersect, data = pdata, effect = "individual",
    model = "pooling")

Unbalanced Panel: n=87, T=61-63, N=5479

Residuals
   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
-3.9620 -2.2410 -1.9640 -0.4041  3.8630  5.6960

Coefficients
                  Estimate Std. Error  z-value Pr(>|z|)
(Intercept)      5.3119767  0.1988989  26.7069   <2e-16 ***
log_rent         0.7560376  0.0275775  27.4150   <2e-16 ***
USD_GRM_spread   0.0638088  0.0059921  10.6489   <2e-16 ***
AAA             -0.1276658  0.0071104 -17.9547   <2e-16 ***
log_10year_rate -0.2728329  0.0150734 -18.1003   <2e-16 ***
intersect        0.0293498  0.0134000   2.1903   0.0285 *
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1
Total Sum of Squares: 48523
Residual Sum of Squares: 48343
Multiple R-squared: 0.0037093

In [19]:
data2<-read.csv('metro_level_clean_data2.csv')
data2[,1]=as.Date(data2[,1],format="%m/%d/%Y")  #convert to time series

In [20]:
levels(factor(data2[,2]))

 [1] "Atlanta"        "Austin"         "Baltimore"      "Birmingham(AL)"
 [5] "Boston"         "Charlotte"      "Chicago"        "Cincinnati"
 [9] "Cleveland"      "Columbus"       "Dallas"         "DC Metro"
[13] "Denver"         "Detroit"        "Greensboro"     "Hartford"
[17] "Houston"        "Jacksonville"   "Kansas City"    "LA Metro"
[21] "Las Vegas"      "Louisville"     "Memphis"        "Milwaukee"
[25] "Minneapolis"    "Nashville"      "Norfolk"        "NYC Metro"
[29] "Orlando"        "Phila Metro"    "Phoenix"        "Pittsburgh"
[33] "Portland"       "Raleigh/Durham" "Richmond"       "Sacramento"
[37] "Salt Lake City" "San Antonio"    "San Diego"      "Seattle"
[41] "SF Metro"       "So Fla"         "St Louis"       "Tampa"
[45] "Tucson"

In [21]:
head(data2)

  Date       MetroArea SECTOR rent_value  EffRentDollars AAA       OTR_USD_10YR
1 2001-01-01 Atlanta   APT    57002.15550 789.00         1.4452716 5.631395
2 2001-01-01 Atlanta   OFF       73.26115  18.77         1.4452716 5.631395
3 2001-01-01 Atlanta   RET       67.33691  13.98         1.4452716 5.631395
4 2002-01-01 Atlanta   APT    49928.77500 761.00         0.9728563 5.650477
5 2002-01-01 Atlanta   OFF      158.12422  17.65         0.9728563 5.650477
6 2002-01-01 Atlanta   RET      120.05343  14.01         0.9728563 5.650477
  USD_GRM_spread log_index log_EffRentDollars log_10year_rate inelastic
1 0.8694115      10.950844 6.670766           1.728357        0
2 0.8694115       4.294030 2.932260           1.728357        0
3 0.8694115       4.209709 2.637628           1.728357        0
4 0.6556902      10.818353 6.634633           1.731740        0
5 0.6556902       5.063381 2.870736           1.731740        0
6 0.6556902       4.787937 2.639771           1.731740        0
  intersect
1 0
2 0
3 0
4 0
5 0
6 0

In [22]:
data2<-cbind(paste0(data2[,2],'.',data2[,3]),data2)
data2<-data2[,c(-3,-4)]

In [23]:
colnames(data2)[1]='sector'

In [24]:
data2[,2]=ts(data2[,2])  #convert to time series
pdata2<-pdata.frame(data2,index=c('sector','Date'),drop.index=TRUE,row.names = TRUE)

In [25]:
head(pdata2)

                  rent_value EffRentDollars AAA       OTR_USD_10YR
Atlanta.APT-11323 57002.16   789            1.4452716 5.631395
Atlanta.APT-11413 63332.01   791            1.3725349 5.850798
Atlanta.APT-11504 60689.42   790            1.5403086 5.566358
Atlanta.APT-11596 65262.70   775            1.6046104 5.318723
Atlanta.APT-11688 49928.78   761            0.9728563 5.650477
Atlanta.APT-11778 65793.94   756            1.0426411 5.670692
                  USD_GRM_spread log_index log_EffRentDollars log_10year_rate
Atlanta.APT-11323 0.8694115      10.95084  6.670766           1.728357
Atlanta.APT-11413 0.8657667      11.05615  6.673298           1.766578
Atlanta.APT-11504 0.6681323      11.01352  6.672033           1.716741
Atlanta.APT-11596 0.6950836      11.08618  6.652863           1.671233
Atlanta.APT-11688 0.6556902      10.81835  6.634633           1.731740
Atlanta.APT-11778 0.5447391      11.09428  6.628041           1.735311
                  inelastic intersect
Atlanta.APT-11323 0         0
Atlanta.APT-11413 0         0
Atlanta.APT-11504 0         0
Atlanta.APT-11596 0         0
Atlanta.APT-11688 0         0
Atlanta.APT-11778 0         0

In [26]:
head(data2)

  sector      Date  rent_value  EffRentDollars AAA       OTR_USD_10YR
1 Atlanta.APT 11323 57002.15550 789.00         1.4452716 5.631395
2 Atlanta.OFF 11323    73.26115  18.77         1.4452716 5.631395
3 Atlanta.RET 11323    67.33691  13.98         1.4452716 5.631395
4 Atlanta.APT 11688 49928.77500 761.00         0.9728563 5.650477
5 Atlanta.OFF 11688   158.12422  17.65         0.9728563 5.650477
6 Atlanta.RET 11688   120.05343  14.01         0.9728563 5.650477
  USD_GRM_spread log_index log_EffRentDollars log_10year_rate inelastic
1 0.8694115      10.950844 6.670766           1.728357        0
2 0.8694115       4.294030 2.932260           1.728357        0
3 0.8694115       4.209709 2.637628           1.728357        0
4 0.6556902      10.818353 6.634633           1.731740        0
5 0.6556902       5.063381 2.870736           1.731740        0
6 0.6556902       4.787937 2.639771           1.731740        0
  intersect
1 0
2 0
3 0
4 0
5 0
6 0

In [29]:
res2<-plm(log_index~log_EffRentDollars+USD_GRM_spread+AAA+log_10year_rate+intersect,data=pdata2,effect='individual',model='pooling')

In [30]:
summary(res2)

Oneway (individual) effect Pooling Model

Call:
plm(formula = log_index ~ log_EffRentDollars + USD_GRM_spread +
    AAA + log_10year_rate + intersect, data = pdata2, effect = "individual",
    model = "pooling")

Unbalanced Panel: n=133, T=34-62, N=7636

Residuals :
   Min. 1st Qu.  Median 3rd Qu.    Max.
-2.7100 -0.2220  0.0241  0.2470  2.0300

Coefficients :
                     Estimate Std. Error  t-value  Pr(>|t|)
(Intercept)         0.8374905  0.0515487  16.2466 < 2.2e-16 ***
log_EffRentDollars  1.6033363  0.0025401 631.2065 < 2.2e-16 ***
USD_GRM_spread      0.0214609  0.0120458   1.7816   0.07485 .
AAA                -0.1403166  0.0150693  -9.3114 < 2.2e-16 ***
log_10year_rate    -0.1686921  0.0214426  -7.8671 4.128e-15 ***
intersect          -0.0775801  0.0072270 -10.7347 < 2.2e-16 ***
---
Signif. codes:  0 '***' 0.001 '**' 0.01 '*' 0.05 '.' 0.1 ' ' 1

Total Sum of Squares:    70577
Residual Sum of Squares: 1323.5
R-Squared:      0.98125
Adj. R-Squared: 0.98048
F-statistic: 79852.3 on 5 and 7630 DF, p-value: < 2.22e-16